<div class="card card-body bg-primary text-white py-5">
  <h2>Welcome To My Page</h2>
  <p class="lead">Here you can find some information about me! </p>
</div>




<div class="jumbotron my-0">

  <div class="container about_me">


    <div class="row ml-4">

      <div class="col col-md-5 mb-5  ">

        <p> <i class="fas fa-globe" style="color:dodgerblue"></i> &nbsp; <b> Città: </b> Italia/Padova</p>
        <p> <i class="fa fa-envelope" style="color:dodgerblue"></i> &nbsp; <b> E-mail: </b> tomasmali08@gmail.com</p>
        <p> <i class="fas fa-map-marker-alt" style="color:dodgerblue"></i> &nbsp; <b> Indirizzo: </b> Via Silvio Pellico
          nr.6/6</p>
        <p> <i class="fas fa-phone-square" style="color:dodgerblue"></i> &nbsp; <b> Telefono: </b> (+39) 388 8246051</p>

      </div>


      <div class="col col-md-5 col-sm-12 pr-sm-5">


<p>
  Questo sito viene mantenuto da Tomas Mali
</p>

<small>
        <div class="text-monospace "> 
           <p class="text-center">Ultimo aggiornamento pagina:</p> 
        
            <p class="text-center">
              28 Dicembre 2020
            </p>
        </div>
      </small>

      </div>


      <div class="col col-md-2  ">

      </div>
    </div>


  </div>



</div>